h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 65px;
}

img {
  margin-bottom: 15px;
}

h2 {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Oleo Script', cursive;
  font-size: 65px;
  margin-top: 50px;
  margin-bottom: 50px;

}

h3 {
  font-family: 'Courgette', cursive;
  font-family: 'Londrina Solid', cursive;
  font-family: 'Oleo Script', cursive;
}

h5 {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Oleo Script', cursive;
  font-size: 40px;
}

.perro {
  margin-top: 50px;
  margin-bottom: 50px;
}

.gato {
  margin-top: 50px;
  margin-bottom: 50px;
}

.foto-cargo{
  display: flex;
}

.foto-cargo img{
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.perrito img{
  width: 40%;
}

.gatito img{
  width: 40%;
}